app = 'skispotter'
primary_region = 'ewr'

[build]

[env]
  DEBUG = 'false'
  ALLOWED_HOSTS = '.fly.dev,skispotter.fly.dev,skispotter.com,www.skispotter.com'
  CSRF_TRUSTED_ORIGINS = 'https://skispotter.fly.dev,https://skispotter.com,https://www.skispotter.com'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

